body {
 margin: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

button {
 background-color: #00ff00;
  border: 2px solid white;
  color: #ffff98;
  padding: 10px 20px;
  cursor: pointer;
}
