body {
 margin: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

button {
 background-color: green;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
