body {
 margin: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

button {
 width: 25%;
 background-color: #00ff00;
  border: 2px solid white;
 padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
 font-size: 1em;
  box-shadow: 0 0 16px 8px rgba(245, 243, 39, 0.6);
}

button:hover {
 background-color: #000000;
 color: #00ff00;
}
