---
import Base from '../layouts/Base.astro';
---
<Base title="About | HWIY">
  <article class="about">
    <h1>About</h1>
    <p>HWIY is an interdisciplinary artist who primarily works with moving and still imagery. She is interested in investigating, exposing, and making connections among individuals and their environments. She often uses fictional narrative to create new meaning in the world, opening the gap in between the current and alternative realities.</p>
  </article>
</Base>
