---
import { getCollection } from 'astro:content';
const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.order - b.data.order);
---
<nav class="nav">
  <a class="brand" href="/">HWIY</a>
  <ul>
    {projects.map((p) => (
      <li><a href={`/projects/${p.id}/`}>{p.data.title}</a></li>
    ))}
    <li><a href="/about/">About</a></li>
  </ul>
</nav>
